<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
    integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/app5.css">
  <title>Company Names</title>
</head>

<body>
  
      <section class="main-section">
        <a href="/manager" style="padding: 0;margin:10px;position:absolute;z-index:2;left:0px;top:0px"><img src="/images/back.png" style="height:50px;width:auto;background-color:transparent;padding: 0;margin: 0;color: seashell;" > </a>
        <div class="course-header">
          <!-- <i class="mode-switch fas fa-moon"></i> -->
          <h1>Interested Companies</h1>
        </div>
        <div class="courses">
          <%if(company[0]==undefined){%>
            <div style="text-align: center;">
              <i id="err-icon" class="fa fa-exclamation-circle"></i>
              <h1 style="margin-top: 0.8em; font-size: 3em; font-weight: 800;">Sponsors Not Found!</h1>
              <p class="e404">We'll Notify you as soon as a sponsor tries to reach you</p>
              <a href="/manager" class="btn btn-outline-primary">Your Events</a>
            </div>
            <%}%>
          <% for(let companies of company){ %>
            <div class="course html" tabindex="1">
              <div class="course-info">
                <span>
                  <%=companies.YearOfEstablishment%>
                </span>
                <h5>
                  <%=companies.CompanyName%>
                </h5>
                <a href="<%=companies.Website%>" tabindex="2">Company's Website <i class="fas fa-chevron-right"></i></a>
              </div>
              <div class="course-more">
                <div class="details">
                  <h5>
                    <%=companies.Contact%>
                  </h5>

                </div>
                <h2 class="name">
                  <%=companies.FullName%>
                </h2>
                <div class="details">
                  <h3>Previous Sponsored Events : <%=companies.PastSponsorships%>
                  </h3>
                  <h5>Wish to sponsor : <%=companies.EventsWish%>
                  </h5>
                </div>
                <form method="POST" action="/manager/<%=companies._id%>/contact"><button type="submit"
                    class="continue-btn html" tabindex="4">email</button></form>

              </div>
            </div>

        </div>
      </section>

      <div class="overlay">
        <p class="overlay-message"></p>
      </div>

      <% } %>

</body>

</html>